services:
  mediamtx:
    build: ./mediamtx
    container_name: mediamtx
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8554:8554"
      - "1935:1935"
      - "8888:8888"
      - "8889:8889"
      - "8189:8189/udp"
    environment:
      - MTX_LOGLEVEL=debug
      - MTX_WEBRTC=yes
      - MTX_WHIP=yes
      - MTX_WEBRTCICEUDP=yes
      - MTX_WEBRTCICEUDPSERVERPORT=8189
      - MTX_WEBRTCCORS=yes
      - MTX_WEBRTCALLOWORIGIN=*
      - MTX_WEBRTCIDLETIMEOUT=30s
      - >
        MTX_PATHS_ALL_ONPUBLISH=sh -c
        'echo "[onPublish] $$MTX_PATH" &&
         curl -v --fail
         --data slug=$$MTX_PATH
         http://host.docker.internal:3001/api/stream/publish'
      - >
        MTX_PATHS_ALL_ONUNPUBLISH=sh -c
        'echo "[onUnpublish] $$MTX_PATH" &&
         curl -v --fail
         --data slug=$$MTX_PATH
         http://host.docker.internal:3001/api/stream/unpublish'
    restart: always
