app = "mediamtx-louise-2026"
primary_region = "nrt"

[build]
  dockerfile = "mediamtx.Dockerfile"

[env]
  BACKEND_API_URL = "https://plugins-based-framework-backend-lzav.onrender.com"

# 只需要保留這個，因為 Ngrok 是從內部往外連，不需要 Fly 的 Incoming 埠號
[http_service]
  internal_port = 8889
  force_https = true
  auto_stop_machines = false # 建議設為 false，避免 Ngrok 斷線