app = "mediamtx-louise-2026"
primary_region = "nrt"

[build]
  dockerfile = "mediamtx.Dockerfile"

[env]
  BACKEND_API_URL = "https://plugins-based-framework-backend-lzav.onrender.com"
# =========================
# RTMP (TCP 1935)
# =========================
[[services]]
  protocol = "tcp"
  internal_port = 1935
  auto_stop_machines = false

  [[services.ports]]
    port = 1935

# =========================
# WebRTC ICE / Media (UDP)
# =========================
[[services]]
  protocol = "udp"
  internal_port = 8189

  [[services.ports]]
    port = 8189

# =========================
# WebRTC Signaling (HTTP)
# =========================
[http_service]
  internal_port = 8889
  force_https = true
  auto_stop_machines = false
