app = "mediamtx-louise-2026"
primary_region = "nrt"

[build]
  dockerfile = "mediamtx.Dockerfile"

[env]
  BACKEND_API_URL = "https://plugins-based-framework-backend-lzav.onrender.com"

[[services]]
  internal_port = 8889
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

# WebRTC ICE (UDP)
[[services]]
  protocol = "udp"
  internal_port = 8189

  [[services.ports]]
    port = 8189

# RTMP (TCP)
[[services]]
  protocol = "tcp"
  internal_port = 1935

  [[services.ports]]
    port = 1935