name: Deploy Client to GitHub Pages

on:
  push:
    branches: ["main"]  # 或者是 master，看您的主分支名稱
  workflow_dispatch:    # 允許手動觸發

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'yarn'
          cache-dependency-path: client/yarn.lock

      - name: Install dependencies
        run: |
          yarn install
          yarn prisma:generate
          cd client
          yarn install
      - name: Inject Environment Variables
        run: 
          echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" >> client/.env 
          echo "VITE_SOCKET_URL=${{ secrets.VITE_SOCKET_URL }}" >> client/.env
          echo "VITE_BASE_PATH=${{ secrets.VITE_BASE_PATH }}" >> client/.env
          echo "VITE_STREAM_URL=${{ secrets.VITE_STREAM_URL }}" >> client/.env
          
      - name: Build
        run: |
          cd client
          yarn build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './client/dist' # Vite 預設 build 出來的資料夾是 dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
